<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Disable requests to application system directories" stopProcessing="true">
                    <match url="^(\.databases|App|Libs|vendor|Var/Logs)/.*$" ignoreCase="false" />
                    <action type="CustomResponse" url="/" statusCode="403" statusReason="Forbidden" statusDescription="Forbidden" />
                </rule>
                <rule name="Disable requests to application config files" stopProcessing="true">
                    <match url="^(composer\.json|\.gitignore|README\.md|LICENCE\.md|\.htaccess)$" ignoreCase="false" />
                    <action type="CustomResponse" url="/" statusCode="403" statusReason="Forbidden" statusDescription="Forbidden" />
                </rule>
                <rule name="Rewrite all requests (not a directory or a file) to index.php" stopProcessing="true">
                    <match url="^.*$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php" />
                </rule>
            </rules>
        </rewrite>
		<staticContent>
			<!--mimeMap fileExtension=".woff" mimeType="application/x-font-woff" /-->
		</staticContent>
    </system.webServer>
</configuration>
