html{display:table;min-width:100%;min-height:100%;height:100%;background:linear-gradient(rgb(108,120,159,0.6),rgb(108,120,159,0.3)),
url('<?php echo $this->AssetUrl('/static/img/theme/box-light-dots-bg.min.svg'); ?>');}

.master-container{width:50%;min-width:600px;margin:30px auto 50px auto;}

.content{padding:25px;background:#fff;border-radius:3px;box-shadow:0 0 15px rgba(0,0,0,0.6);}
.content h1{margin:10px 0 25px 0;}
.content a.head-btn{float:right;}
