html{background:#fff;}

.content{padding:25px 12px 0 12px;}

.content a.head-btn{position:relative;top:-12px;}
.content h1{margin:25px 0 25px 0;}

.mc-footer-navigation{font-size:90%;}
.mc-footer-navigation{margin-top:10px;}
.mc-footer-navigation label{display:block;}
