/* tables and it's variations */
table.theme{
	position:relative;
	border:0;
	border-collapse:separate;
	border-spacing:1px 1px;
	font-size:100%;
	margin:20px auto 20px auto;
	text-decoration:none;
}
html[data-browser*=' Chrome/'] table.theme{
	border:2px solid transparent;
}
table.theme:before,
table.theme::before{
	content:'';
	padding:2px;
	position:absolute;
	z-index:300;
	top:-2px;
	width:100%;
	height:100%;
	left:-2px;
	display:block;
	box-shadow:0 0 5px #eaecf5, 0 0 5px rgba(234,236,245,0.75);
	background-color:transparent;
	background-position:0 0;
	background-repeat:no-repeat;
	background-size:100% 100%;
	background-image:url('<?php echo $this->AssetUrl('/static/img/theme/box-bg.min.svg'); ?>');
}
table.theme:after,
table.theme::after{
	content:'';
	position:absolute;
	top:0;
	left:0;
	display:block;
	z-index:301;
	width:100%;
	height:100%;
	background-color:transparent;
	background-position:0 0;
	background-repeat:no-repeat;
	background-size:100% 100%;
	background-image:url('<?php echo $this->AssetUrl('/static/img/theme/box-light-dots-bg.min.svg'); ?>');
}
table.theme tr th,
table.theme tr td{
	position:relative;
	z-index:302;
	font-size:100%;
	line-height:1.25;
	color:#000;
	padding:10px 15px 8px 15px;
	border-top:1px solid #a2a6ba;
	background-color:rgba(255,255,255,0.2);
}
table.theme tr th{
	color:#fff;
	font-weight:bold;
	background-color:#15215a;
	background-image:url('<?php echo $this->AssetUrl('/static/img/theme/box-dark-dots-bg.min.svg'); ?>');
	background-image:linear-gradient(rgba(255,255,255,0.1),rgba(255,255,255,0.1)),
					 url('<?php echo $this->AssetUrl('/static/img/theme/box-dark-dots-bg.min.svg'); ?>');
	background-size:100% 100%;
	background-position:0 0;
	background-repeat:no-repeat;
	text-shadow:-1px -1px 0 #000,
				0 -1px 0 #000,
				-1px 0 0 #000;
}
table.theme thead tr th{
	font-size:120%;
	padding:20px 15px 18px 15px;
}
table.theme tbody tr td{
	border-right:1px solid rgba(162, 166, 186, 0.2);
	text-shadow:0 1px 0 #fff,
				1px 0 0 #fff,
				1px 1px 0 #fff;
}
table.theme tbody tr td:last-of-type{
	border-right:0;
}
table.theme tr:first-of-type:last-of-type th,
table.theme tr:first-of-type:last-of-type td{border-bottom:1px solid #a2a6ba;}
table.theme tr:first-of-type th,
table.theme tr:first-of-type td{border-top:0;}
table.theme tbody tr th{text-align:left;}
table.theme tbody tr td{text-align:left;}
