/* form control common styles */
form.theme{
	padding:33px;
	position:relative;
	z-index:200;
	display:block;
	color:#fff;
	background-color:transparent;
	background:url('<?php echo $this->AssetUrl('/static/img/theme/box-bg.min.svg'); ?>');
	box-shadow:0 0 15px #eaecf5,0 0 15px rgba(234,236,245,0.75);
}
form.theme:before,
form.theme::before {
	display:block;
	content:'';
	position:absolute;
	z-index:201;
	top:3px;
	left:3px;
	width:calc(100% - 6px);
	height:calc(100% - 6px);
	background-color:#15215a;
	background-image:url('<?php echo $this->AssetUrl('/static/img/theme/box-dark-dots-bg.min.svg'); ?>');
}

.theme input,
.theme button,
.theme textarea,
.theme select,
.theme div,
.theme table,
.theme fieldset{
	position:relative;
	z-index:202;
}
.theme fieldset{
	border:1px solid #fff;
	border-radius:2px;
	padding:10px;
}
.theme fieldset.noborder{
	border:0;
	border-radius:0;
	padding:0;
}
.theme fieldset legend{
	position:relative;
	top:1px;
	padding:0 10px;
	margin-left:-10px;
}

/* all controls */
.theme input[type=text],
.theme input[type=password],
.theme input[type=number],
.theme input[type=email],
.theme input[type=search],
.theme input[type=tel],
.theme input[type=url],
.theme input[type=file],
.theme input[type*=date],
.theme input[type=month],
.theme input[type=time],
.theme input[type=week],
.theme input[type=submit],
.theme input[type=reset],
.theme input[type=image],
.theme input[type=button],
.theme button,
.theme textarea,
.theme select,
.theme input[type=button].select{
	font-size:16px;
	color:#17171a;
	text-shadow:1px 1px 0 #fff;
	border:0;
	background-repeat:no-repeat;
	background-color:transparent;
	background-size:100% 100%;
	height:30px;
	line-height:30px;
}
.theme input[disabled][type=text],
.theme input[disabled][type=password],
.theme input[disabled][type=number],
.theme input[disabled][type=email],
.theme input[disabled][type=search],
.theme input[disabled][type=tel],
.theme input[disabled][type=url],
.theme input[disabled][type=file],
.theme input[disabled][type*=date],
.theme input[disabled][type=month],
.theme input[disabled][type=time],
.theme input[disabled][type=week],
.theme input[disabled][type=submit],
.theme input[disabled][type=reset],
.theme input[disabled][type=image],
.theme input[disabled][type=button],
.theme textarea[disabled],
.theme select[disabled],
.theme input[type=button][disabled].select{
	filter:grayscale(100%) contrast(70%) brightness(110%);
	opacity:0.9;
}
.theme select[multiple]{height:auto;}
.theme input[type=radio],
.theme input[type=checkbox],
.theme label{
	color:#fff;
	cursor:pointer;
	text-shadow:-1px -1px 0 #000;
}
/* all controls - common fixes */
.theme input[type=search]{
	height:30px;
}
html[data-browser*='MSIE 10.'] .theme input[type=search],
html[data-browser*='MSIE 11.'] .theme input[type=search]{
	height:20px;
}
/* text-like controls */
.theme input[type=text],
.theme input[type=password],
.theme input[type=email],
.theme input[type=search],
.theme input[type=tel],
.theme input[type=url],
.theme select[multiple],
.theme input[type=button].select{
	padding:6px 10px 4px 10px;
}
.theme input[type=color]{
	border:0;
	background-repeat:no-repeat;
	background-color:transparent;
	background-size:100% 100%;
	width:50px;
}
html[data-browser*='MSIE 10.'] .theme input[type=color],
html[data-browser*='MSIE 11.'] .theme input[type=color],
html[data-browser*='Edge/'] .theme input[type=color]{
	height:20px;
	line-height:20px;
	padding:5px;
}
html[data-browser*='Firefox'] .theme input[type=color]{
	height:30px;
	line-height:30px;
	padding:5px;
}
html[data-browser*='Chrome'] .theme input[type=color]{
	height:28px;
	line-height:28px;
	padding:1px 3px;
}
.theme textarea{
	padding:10px;
	height:100px;
	overflow:auto;
	-ms-overflow-style:auto;
}
/* text-like controls with advanced sub controls */
.theme input[type=number]{
	padding:6px 13px 4px 10px;
}
.theme input[type*=date],
.theme input[type=month],
.theme input[type=time],
.theme input[type=week]{
	padding:6px 3px 4px 10px;
}
.theme input[type=file]{
	height:40px;
	line-height:40px;
	padding:0 0 0 10px;
	cursor:pointer;
}
.theme input[type=file]::-webkit-file-upload-button{
	border:0;
	background-color:transparent;
	position:absolute;
	right:0;
}
.theme input[type=file]{
	background-size:calc(100% - 160px) 100%;
}
/* date controls */
.theme input[type*=date],
.theme input[type=month],
.theme input[type=time],
.theme input[type=week]{
    position:relative;
	/*text-indent:calc(-200%);*/
	text-shadow:none;
}
/*.theme input[type*=date]:before,
.theme input[type=month]:before,
.theme input[type=time]:before,
.theme input[type=week]:before {
	display:none;
    position:absolute;
    top:6px; 
	left:11px;
	text-indent:0px;
    content:attr(data-value);
    display:inline-block;
    color:#000;
	text-shadow:1px 1px 0 #fff;
}*/
/* select */
.theme select{
	height:40px;
	background-repeat:no-repeat;
	background-color:transparent;
	background-size:100% 100%;
	padding:5px 40px 5px 10px;
	-webkit-appearance:none;
	-moz-appearance:none;
	-khtml-appearance:none;
	-o-appearance:none;
	-ms-appearance:none;
	appearance:none;
	cursor:pointer;
}
.theme input[type=button].select{
	height:40px;
	text-decoration:none;
	display:inline-block;
	background-repeat:no-repeat;
	background-color:transparent;
	background-size:100% 100%;
	cursor:pointer;
	text-align:left;
	color:#000;
	font-weight:normal;
	text-shadow:none;
	padding:0 10px 0 10px;
}
html[data-browser*='MSIE'] .theme select,
html[data-browser*='Edge/'] .theme select{ 
	text-shadow:none;
}
html[data-browser*='MSIE 9.'] .theme select{ 
	padding-right:6px;
}
.theme select::-ms-expand{ 
	display:none;/* hide the default arrow in ie10 and ie11 */
}
/* buttons */
.theme input[type=submit],
.theme input[type=reset],
.theme input[type=image],
.theme input[type=button],
.theme button{
	font-weight:bold;
	height:40px;
	line-height:21px;
	padding:0 20px 0 20px;
	cursor:pointer;
	text-shadow:1px 1px 0 #fff;
	cursor:pointer;
	color:#1b4595;
}
.theme input[type=file]::-webkit-file-upload-button{
	font-weight:bold;
	height:40px;
	line-height:21px;
	padding:0 20px 0 20px;
	cursor:pointer;
	text-shadow:1px 1px 0 #fff;
	cursor:pointer;
	color:#1b4595;
}
.theme input.big[type=submit],
.theme input.big[type=reset],
.theme input.big[type=image],
.theme input.big[type=button],
.theme button.big{
	font-size:20px;
	font-weight:bold;
	height:50px;
	line-height:31px;
	padding:0 30px 0 30px;
	cursor:pointer;
	text-shadow:1px 1px 0 #fff;
}
.theme input[type=submit][disabled],
.theme input[type=reset][disabled],
.theme input[type=image][disabled],
.theme input[type=button][disabled],
.theme button[disabled],
.theme input.big[type=submit][disabled],
.theme input.big[type=reset][disabled],
.theme input.big[type=image][disabled],
.theme input.big[type=button][disabled],
.theme button.big[disabled]{
	filter:grayscale(100%) contrast(70%) brightness(110%);
	opacity:0.9;
}


/* 9-slice scaled svg background images */
.theme input[type=text],
.theme input[type=password],
.theme input[type=number],
.theme input[type=email],
.theme input[type=search],
.theme input[type=tel],
.theme input[type=url],
.theme input[type=color],
.theme input[type=file],
.theme input[type*=date],
.theme input[type=month],
.theme input[type=time],
.theme input[type=week],
.theme select[multiple],
.theme textarea,

.theme input[disabled][type=text]:hover,		.theme input[disabled][type=text]:focus,		.theme input[disabled][type=text]:active,
.theme input[disabled][type=password]:hover,	.theme input[disabled][type=password]:focus,	.theme input[disabled][type=password]:active,
.theme input[disabled][type=number]:hover,		.theme input[disabled][type=number]:focus,		.theme input[disabled][type=number]:active,
.theme input[disabled][type=email]:hover,		.theme input[disabled][type=email]:focus,		.theme input[disabled][type=email]:active,
.theme input[disabled][type=search]:hover,		.theme input[disabled][type=search]:focus,		.theme input[disabled][type=search]:active,
.theme input[disabled][type=tel]:hover,			.theme input[disabled][type=tel]:focus,			.theme input[disabled][type=tel]:active,
.theme input[disabled][type=url]:hover,			.theme input[disabled][type=url]:focus,			.theme input[disabled][type=url]:active,
.theme input[disabled][type=color]:hover,		.theme input[disabled][type=color]:focus,		.theme input[disabled][type=color]:active,
.theme input[disabled][type=file]:hover,		.theme input[disabled][type=file]:focus,		.theme input[disabled][type=file]:active,
.theme input[disabled][type*=date]:hover,		.theme input[disabled][type*=date]:focus,		.theme input[disabled][type*=date]:active,
.theme input[disabled][type=month]:hover,		.theme input[disabled][type=month]:focus,		.theme input[disabled][type=month]:active,
.theme input[disabled][type=time]:hover,		.theme input[disabled][type=time]:focus,		.theme input[disabled][type=time]:active,
.theme input[disabled][type=week]:hover,		.theme input[disabled][type=week]:focus,		.theme input[disabled][type=week]:active,
.theme select[disabled][multiple]:hover,		.theme select[disabled][multiple]:focus,		.theme select[disabled][multiple]:active,
.theme textarea[disabled]:hover,				.theme textarea[disabled]:focus,				.theme textarea[disabled]:active,

.theme input[readonly][type=text]:hover,		.theme input[readonly][type=text]:focus,		.theme input[readonly][type=text]:active,
.theme input[readonly][type=password]:hover,	.theme input[readonly][type=password]:focus,	.theme input[readonly][type=password]:active,
.theme input[readonly][type=number]:hover,		.theme input[readonly][type=number]:focus,		.theme input[readonly][type=number]:active,
.theme input[readonly][type=email]:hover,		.theme input[readonly][type=email]:focus,		.theme input[readonly][type=email]:active,
.theme input[readonly][type=search]:hover,		.theme input[readonly][type=search]:focus,		.theme input[readonly][type=search]:active,
.theme input[readonly][type=tel]:hover,			.theme input[readonly][type=tel]:focus,			.theme input[readonly][type=tel]:active,
.theme input[readonly][type=url]:hover,			.theme input[readonly][type=url]:focus,			.theme input[readonly][type=url]:active,
.theme input[readonly][type=color]:hover,		.theme input[readonly][type=color]:focus,		.theme input[readonly][type=color]:active,
.theme input[readonly][type=file]:hover,		.theme input[readonly][type=file]:focus,		.theme input[readonly][type=file]:active,
.theme input[readonly][type*=date]:hover,		.theme input[readonly][type*=date]:focus,		.theme input[readonly][type*=date]:active,
.theme input[readonly][type=month]:hover,		.theme input[readonly][type=month]:focus,		.theme input[readonly][type=month]:active,
.theme input[readonly][type=time]:hover,		.theme input[readonly][type=time]:focus,		.theme input[readonly][type=time]:active,
.theme input[readonly][type=week]:hover,		.theme input[readonly][type=week]:focus,		.theme input[readonly][type=week]:active,
.theme select[readonly][multiple]:hover,		.theme select[readonly][multiple]:focus,		.theme select[readonly][multiple]:active,
.theme textarea[readonly]:hover,				.theme textarea[readonly]:focus,				.theme textarea[readonly]:active{
	background-image:url('<?php echo $this->AssetUrl('/static/img/theme/text-inputs.normal.passive.min.svg'); ?>');
}
.theme input.error[type=text],
.theme input.error[type=password],
.theme input.error[type=number],
.theme input.error[type=email],
.theme input.error[type=search],
.theme input.error[type=tel],
.theme input.error[type=url],
.theme input.error[type=color],
.theme input.error[type=file],
.theme input.error[type*=date],
.theme input.error[type=month],
.theme input.error[type=time],
.theme input.error[type=week],
.theme select.error[multiple],
.theme textarea.error{
	background-image:url('<?php echo $this->AssetUrl('/static/img/theme/text-inputs.error.passive.min.svg'); ?>');
}
.theme input[type=text][required],
.theme input[type=password][required],
.theme input[type=number][required],
.theme input[type=email][required],
.theme input[type=search][required],
.theme input[type=tel][required],
.theme input[type=url][required],
.theme input[type=color][required],
.theme input[type=file][required],
.theme input[type*=date][required],
.theme input[type=month][required],
.theme input[type=time][required],
.theme input[type=week][required],
.theme select[multiple][required],
.theme textarea[required]{
	background-image:url('<?php echo $this->AssetUrl('/static/img/theme/text-inputs.normal.passive.required.min.svg'); ?>');
}
.theme input.error[type=text][required],
.theme input.error[type=password][required],
.theme input.error[type=number][required],
.theme input.error[type=email][required],
.theme input.error[type=search][required],
.theme input.error[type=tel][required],
.theme input.error[type=url][required],
.theme input.error[type=color][required],
.theme input.error[type=file][required],
.theme input.error[type*=date][required],
.theme input.error[type=month][required],
.theme input.error[type=time][required],
.theme input.error[type=week][required],
.theme select.error[multiple][required],
.theme textarea.error[required]{
	background-image:url('<?php echo $this->AssetUrl('/static/img/theme/text-inputs.error.passive.required.min.svg'); ?>');
}
.theme input[readonly],
.theme textarea[readonly],
.theme select[multiple][readonly] {
	background-image: url('<?php echo $this->AssetUrl('/static/img/theme/text-inputs.normal.passive.min.svg'); ?>') !important;
}
.theme select,
.theme input[type=button].select{
	background-image:url('<?php echo $this->AssetUrl('/static/img/theme/select.normal.passive.min.svg'); ?>');
}
.theme select.error,
.theme input[type=button].select.error{
	background-image:url('<?php echo $this->AssetUrl('/static/img/theme/select.error.passive.min.svg'); ?>');
}
.theme select[required],
.theme input[type=button][required].select{
	background-image:url('<?php echo $this->AssetUrl('/static/img/theme/select.normal.passive.required.min.svg'); ?>');
}
.theme select.error[required],
.theme input[type=button][required].select.error{
	background-image:url('<?php echo $this->AssetUrl('/static/img/theme/select.error.passive.required.min.svg'); ?>');
}
.theme select[readonly],
.theme input[type=button][readonly].select{
	background-image:url('<?php echo $this->AssetUrl('/static/img/theme/select.normal.passive.min.svg'); ?>') !important;
}
.theme input[type=submit],
.theme input[type=reset],
.theme input[type=image],
.theme input[type=button],
.theme button,
.theme input[type=button][disabled]:hover,
.theme input[type=button][disabled]:focus,
.theme input[type=button][disabled]:active,
.theme button[disabled]:hover,
.theme button[disabled]:focus,
.theme button[disabled]:active{
	background-image:url('<?php echo $this->AssetUrl('/static/img/theme/buttons-form.passive.min.svg'); ?>');
}
.theme input[type=file]::-webkit-file-upload-button{
	background-image:url('<?php echo $this->AssetUrl('/static/img/theme/buttons-form.passive.min.svg'); ?>');
}


/* hovering and focusing */

.theme input[type=text]:hover,						.theme input[type=text]:focus,						.theme input[type=text]:active,
.theme input[type=password]:hover,					.theme input[type=password]:focus,					.theme input[type=password]:active,
.theme input[type=number]:hover,					.theme input[type=number]:focus,					.theme input[type=number]:active,
.theme input[type=email]:hover,						.theme input[type=email]:focus,						.theme input[type=email]:active,
.theme input[type=search]:hover,					.theme input[type=search]:focus,					.theme input[type=search]:active,
.theme input[type=tel]:hover,						.theme input[type=tel]:focus,						.theme input[type=tel]:active,
.theme input[type=url]:hover,						.theme input[type=url]:focus,						.theme input[type=url]:active,
.theme input[type=color]:hover,						.theme input[type=color]:focus,						.theme input[type=color]:active,
.theme input[type=file]:hover,						.theme input[type=file]:focus,						.theme input[type=file]:active,
.theme input[type*=date]:hover,						.theme input[type*=date]:focus,						.theme input[type*=date]:active,
.theme input[type=month]:hover,						.theme input[type=month]:focus,						.theme input[type=month]:active,
.theme input[type=time]:hover,						.theme input[type=time]:focus,						.theme input[type=time]:active,
.theme input[type=week]:hover,						.theme input[type=week]:focus,						.theme input[type=week]:active,
.theme select[multiple]:hover,						.theme select[multiple]:focus,						.theme select[multiple]:active,
.theme textarea:hover,								.theme textarea:focus,								.theme textarea:active{
	color:#000;
	outline:none;
	text-shadow:none;
	background-image:url('<?php echo $this->AssetUrl('/static/img/theme/text-inputs.normal.active.min.svg'); ?>');
}
.theme input.error[type=text]:hover,				.theme input.error[type=text]:focus,				.theme input.error[type=text]:active,
.theme input.error[type=password]:hover,			.theme input.error[type=password]:focus,			.theme input.error[type=password]:active,
.theme input.error[type=number]:hover,				.theme input.error[type=number]:focus,				.theme input.error[type=number]:active,
.theme input.error[type=email]:hover,				.theme input.error[type=email]:focus,				.theme input.error[type=email]:active,
.theme input.error[type=search]:hover,				.theme input.error[type=search]:focus,				.theme input.error[type=search]:active,
.theme input.error[type=tel]:hover,					.theme input.error[type=tel]:focus,					.theme input.error[type=tel]:active,
.theme input.error[type=url]:hover,					.theme input.error[type=url]:focus,					.theme input.error[type=url]:active,
.theme input.error[type=color]:hover,				.theme input.error[type=color]:focus,				.theme input.error[type=color]:active,
.theme input.error[type=file]:hover,				.theme input.error[type=file]:focus,				.theme input.error[type=file]:active,
.theme input.error[type*=date]:hover,				.theme input.error[type*=date]:focus,				.theme input[type*=date]:active,
.theme input.error[type=month]:hover,				.theme input.error[type=month]:focus,				.theme input.error[type=month]:active,
.theme input.error[type=time]:hover,				.theme input.error[type=time]:focus,				.theme input.error[type=time]:active,
.theme input.error[type=week]:hover,				.theme input.error[type=week]:focus,				.theme input.error[type=week]:active,
.theme select.error[multiple]:hover,				.theme select.error[multiple]:focus,				.theme select.error[multiple]:active,
.theme textarea.error:hover,						.theme textarea.error:focus,						.theme textarea.error:active{
	color:#000;
	outline:none;
	text-shadow:none;
	background-image:url('<?php echo $this->AssetUrl('/static/img/theme/text-inputs.error.active.min.svg'); ?>');
}
.theme input[type=text][required]:hover,			.theme input[type=text][required]:focus,			.theme input[type=text][required]:active,
.theme input[type=password][required]:hover,		.theme input[type=password][required]:focus,		.theme input[type=password][required]:active,
.theme input[type=number][required]:hover,			.theme input[type=number][required]:focus,			.theme input[type=number][required]:active,
.theme input[type=email][required]:hover,			.theme input[type=email][required]:focus,			.theme input[type=email][required]:active,
.theme input[type=search][required]:hover,			.theme input[type=search][required]:focus,			.theme input[type=search][required]:active,
.theme input[type=tel][required]:hover,				.theme input[type=tel][required]:focus,				.theme input[type=tel][required]:active,
.theme input[type=url][required]:hover,				.theme input[type=url][required]:focus,				.theme input[type=url][required]:active,
.theme input[type=color][required]:hover,			.theme input[type=color][required]:focus,			.theme input[type=color][required]:active,
.theme input[type=file][required]:hover,			.theme input[type=file][required]:focus,			.theme input[type=file][required]:active,
.theme input[type*=date][required]:hover,			.theme input[type*=date][required]:focus,			.theme input[type*=date][required]:active,
.theme input[type=month][required]:hover,			.theme input[type=month][required]:focus,			.theme input[type=month][required]:active,
.theme input[type=time][required]:hover,			.theme input[type=time][required]:focus,			.theme input[type=time][required]:active,
.theme input[type=week][required]:hover,			.theme input[type=week][required]:focus,			.theme input[type=week][required]:active,
.theme select[multiple][required]:hover,			.theme select[multiple][required]:focus,			.theme select[multiple][required]:active,
.theme textarea[required]:hover,					.theme textarea[required]:focus,					.theme textarea[required]:active{
	color:#000;
	outline:none;
	text-shadow:none;
	background-image:url('<?php echo $this->AssetUrl('/static/img/theme/text-inputs.normal.active.required.min.svg'); ?>');
}
.theme input.error[type=text][required]:hover,		.theme input.error[type=text][required]:focus,		.theme input.error[type=text][required]:active,
.theme input.error[type=password][required]:hover,	.theme input.error[type=password][required]:focus,	.theme input.error[type=password][required]:active,
.theme input.error[type=number][required]:hover,	.theme input.error[type=number][required]:focus,	.theme input.error[type=number][required]:active,
.theme input.error[type=email][required]:hover,		.theme input.error[type=email][required]:focus,		.theme input.error[type=email][required]:active,
.theme input.error[type=search][required]:hover,	.theme input.error[type=search][required]:focus,	.theme input.error[type=search][required]:active,
.theme input.error[type=tel][required]:hover,		.theme input.error[type=tel][required]:focus,		.theme input.error[type=tel][required]:active,
.theme input.error[type=url][required]:hover,		.theme input.error[type=url][required]:focus,		.theme input.error[type=url][required]:active,
.theme input.error[type=color][required]:hover,		.theme input.error[type=color][required]:focus,		.theme input.error[type=color][required]:active,
.theme input.error[type=file][required]:hover,		.theme input.error[type=file][required]:focus,		.theme input.error[type=file][required]:active,
.theme input.error[type*=date][required]:hover,		.theme input.error[type*=date][required]:focus,		.theme input.error[type*=date][required]:active,
.theme input.error[type=month][required]:hover,		.theme input.error[type=month][required]:focus,		.theme input.error[type=month][required]:active,
.theme input.error[type=time][required]:hover,		.theme input.error[type=time][required]:focus,		.theme input.error[type=time][required]:active,
.theme input.error[type=week][required]:hover,		.theme input.error[type=week][required]:focus,		.theme input.error[type=week][required]:active,
.theme select.error[multiple][required]:hover,		.theme select.error[multiple][required]:focus,		.theme select.error[multiple][required]:active,
.theme textarea.error[required]:hover,				.theme textarea.error[required]:focus,				.theme textarea.error[required]:active{
	color:#000;
	outline:none;
	text-shadow:none;
	background-image:url('<?php echo $this->AssetUrl('/static/img/theme/text-inputs.error.active.required.min.svg'); ?>');
}
.theme select:hover,.theme select:focus,.theme select:active,
.theme input[type=button].select:hover,.theme input[type=button].select:focus,.theme input[type=button].select:active{
	color:#000;
	outline:none;
	text-shadow:none;
	background-image:url('<?php echo $this->AssetUrl('/static/img/theme/select.normal.active.min.svg'); ?>');
}
.theme select.error:hover,.theme select.error:focus,.theme select.error:active,
.theme input[type=button].select.error:hover,.theme input[type=button].select.error:focus,.theme input[type=button].select.error:active{
	color:#000;
	outline:none;
	text-shadow:none;
	background-image:url('<?php echo $this->AssetUrl('/static/img/theme/select.error.active.min.svg'); ?>');
}
.theme select[required]:hover,.theme select[required]:focus,.theme select[required]:active,
.theme input[type=button][required].select:hover,.theme input[type=button][required].select:focus,.theme input[type=button][required].select:active{
	color:#000;
	outline:none;
	text-shadow:none;
	background-image:url('<?php echo $this->AssetUrl('/static/img/theme/select.normal.active.required.min.svg'); ?>');
}
.theme select.error[required]:hover,.theme select.error[required]:focus,.theme select.error[required]:active,
.theme input[type=button][required].select.error:hover,.theme input[type=button][required].select.error:focus,.theme input[type=button][required].select.error:active{
	color:#000;
	outline:none;
	text-shadow:none;
	background-image:url('<?php echo $this->AssetUrl('/static/img/theme/select.error.active.required.min.svg'); ?>');
}
.theme input[type=submit]:hover,	.themeinput[type=submit]:focus,		.theme input[type=submit]:active,
.theme input[type=reset]:hover,		.themeinput[type=reset]:focus,		.theme input[type=reset]:active,
.theme input[type=image]:hover,		.themeinput[type=image]:focus,		.theme input[type=image]:active,
.theme input[type=button]:hover,	.theme input[type=button]:focus,	.theme input[type=button]:active,
.theme button:hover,				.theme button:focus,				.theme button:active{
	color:#0056d6;
	outline:none;
	background-image:url('<?php echo $this->AssetUrl('/static/img/theme/buttons-form.active.min.svg'); ?>');
}
.theme input[type=file]:hover::-webkit-file-upload-button,
.theme input[type=file]:focus::-webkit-file-upload-button,
.theme input[type=file]:active::-webkit-file-upload-button{
	color:#0056d6;
	outline:none;
	background-image:url('<?php echo $this->AssetUrl('/static/img/theme/buttons-form.active.min.svg'); ?>');
}


/* selected text & required */

/* developer.mozilla.org/en-US/docs/Web/CSS/::selection */
.theme input::-moz-selection{
	background:#263b97;
	color:#fff;
	text-shadow:none;
}
.theme input::selection{
	background:#263b97;
	color:#fff;
	text-shadow:none;
}
.theme select::-moz-selection{
	background:#263b97;
	color:#fff;
	text-shadow:none;
} 
.theme select::selection{
	background:#263b97;
	color:#fff;
	text-shadow:none;
}
.theme textarea::-moz-selection {
	background:#263b97;
	color:#fff;
	text-shadow:none;
}
.theme textarea::selection {
	background:#263b97;
	color:#fff;
	text-shadow:none;
}
.theme label.checkbox.required:after,
.theme label.checkbox.required::after{
	content:' *';
	color:#fff;
	font-size:14px;
	font-weight:bold;
}


/* placeholders */

/* stackoverflow.com/questions/2610497 */
::-webkit-input-placeholder{/* WebKit, Blink, Edge */
	color:#a4abc5 !important;
	text-shadow:1px 1px 0 #fff;
}
:-moz-placeholder{/* Mozilla Firefox 4 to 18 */
	color:#a4abc5 !important;
	text-shadow:1px 1px 0 #fff;
	opacity:1;
}
::-moz-placeholder{/* Mozilla Firefox 19+ */
	color:#a4abc5 !important;
	text-shadow:1px 1px 0 #fff;
	opacity:1;
}
:-ms-input-placeholder{/* Internet Explorer 10-11 */
	color:#a4abc5 !important;
	text-shadow:1px 1px 0 #fff;
}
::-ms-input-placeholder{/* Microsoft Edge */
	color:#a4abc5 !important;
	text-shadow:1px 1px 0 #fff;
}
::placeholder{/* Most modern browsers support this now. */
	color:#a4abc5;
	text-shadow:1px 1px 0 #fff;
}


/* misc - readonly, html5 datalists, background preloading */

.theme input[readonly],
.theme select[readonly],
.theme textarea[readonly]{
	color:#515874 !important;
	font-style:italic;
	text-shadow:1px 1px 0 #fff !important;
}
.theme datalist{
	position:absolute;
	visibility:hidden;
}